<h4>Categories</h4>
<table class="table table-hover">
  <thead>
      <tr>
          <th>
              Category
          </th>
      </tr>
  </thead>
  <tbody>
    <tr >
      <td><select (change)="selectChangeHandler($event)" class="form-control">
        <option default>--choose--</option>
        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
        </select></td>
        <td></td>
  </tbody>
  </table>
  <h4 *ngIf = subcategories>Sub-Categories</h4>
  <table class="table table-hover" *ngIf = subcategories>
      <thead>
          <tr>
              <th>
                  SubCategory
              </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of subcategories">
          <td>{{category.name}}</td>
      </tbody>
      </table>


